/* ESSENTIAL STYLES STARTS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

main {
    padding: 0rem;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
        margin-left: 90%;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -200%;
        width: 100%;
        background-color: #333;
        transition: left 0.3s ease-in-out;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        text-align: center;
        margin: 1rem 0;
    }
}
/* ESSENTIAL STYLES ENDS */









/* NORMAL STYLES START */

.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

.center-object { /* ALLOWS YOU TO CENTER OBJECTS WITHIN A SECTION */
    margin-left: auto;
    margin-right: auto;
}





.hero_section {
    background-color: #000000;
    padding: 2%;
    text-align: center;
    color: #ffffff;
    height: 40rem;
}

.intro_section {
    background-color: #aaa100;
    padding: 2%;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: row; /* Default to row layout */
    align-items: center;
    flex-wrap: wrap;
}
.intro_section img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem; /* Add some space above the image */
}
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
}






.products_and_services_section {
    background-color: #8a8a8a;
    padding: 2%;
    text-align: center;
}









/* NORMAL STYLES ENDS */


