/* GLOBAL STYLES FOR ENTIRE WEBSITE STARTS */
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: 1px solid #ff0000; */
}
/* GLOBAL STYLES FOR ENTIRE WEBSITE ENDS */


html {
    scroll-behavior: smooth; /* WITHOUT THIS, YOUR FA BUTTON WON'T SCROLL SMOOTHLY */
}

/* HEADER STYLES STARTS */
header {
    background-color: #272727;
    color: white;
    padding: 1rem;
    text-align: center;
}
/* HEADER STYLES STARTS */


/* NAV MENU STYLES STARTS */
nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 1em;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}
/* NAV MENU STYLES ENDS */




/* NAV MENU MEDIA QUERY STARTS */
@media (max-width: 768px) {

    .hamburger {
        display: flex;
        margin-left: 90%;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 210%;
        left: -250%;
        width: 80%;
        background-color: #333;
        transition: left 0.1s ease-in-out;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        text-align: center;
        margin: 5%;
    }

    .header-logo{ /* WITHOUT THIS, SMALL DEVICES WILL HAVE A WEIRD WHITE BAR ON THE RIGHT SIDE */
        display: none;
    }

    .text1{
        font-size: 2rem !important;
    }

    .text2{
        font-size: 1rem !important;
    }

}
/* NAV MENU MEDIA QUERY ENDS */




 /* NAV BUTTON STYLES STARTS */
.home {
    color: #8a8a8a;
}

.home:hover {
    color: #ffffff;
}

.about {
    color: #8a8a8a;
}

.about:hover {
    color: #ffffff;
}

.shop {
    color: #8a8a8a;
}

.shop:hover {
    color: #ffffff;
}

.contact {
    color: #8a8a8a;
}

.contact:hover {
    color: #ffffff;
}
/* NAV BUTTON STYLES ENDS */






.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}





/* SECTION STYLES STARTS */
.hero_section {
    background-color: #000000;
    padding: 2%;
    text-align: center;
    color: #ffffff;
    min-height: 40vh;
}

.intro_section {
    background-color: #83deff;
    text-align: left;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.shop_section {
    background-color: #ff0000;
    text-align: left;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}





.products_and_services_section {
    background-color: #ffffff;
    padding: 0em;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    align-items: center;
}

.footer_section {
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #83deff;
}



.browse_section {
    background-color: #83deff;
    text-align: left;
    color: #000000;
    display: flex;
    align-items: center;
    
}

/* SECTION STYLES ENDS */








/* MISC. STYLES STARTS */
.scroll-container {
    display: flex;
    /* Arrange figures in a row */
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent line breaks */
    background-color: #ffffff;
    width: 100%;
}

.scroll-container figure {
    margin-right: 10px;
    /* Space between figures */
    text-align: center;
    /* Center align text */
    flex: 0 0 auto;
    /* Prevent shrinking */
}

.scroll-container img {
    height: 25rem;
    /* Set a uniform height */
    width: auto;
    /* Let the width adjust automatically */
    object-fit: contain;
    /* Ensures the entire image fits within the container */
    display: block;
    /* Ensure images are block elements */
    margin: 0em;
}

.scroll-container figcaption {
    font-size: 2rem;
    color: #000000;
    text-align: left;
    
}

.scroll-container::-webkit-scrollbar {
    height: 25px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #e0e0e0; /* Color of the scrollbar track */
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color of the scrollbar handle */
    border-radius: 0px; /* Roundness of the scrollbar handle */
    height: 25px;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #424242; /* Color of the scrollbar handle on hover */
  }




@media (max-width: 768px) {
    .scroll-container { /* Allows scoller to display properly on mobile */
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: wrap;
        width: 100%;
    }
    .scroll-container img {
        height: auto;
        /* Set a uniform height */
        width: 100%;
        /* Let the width adjust automatically */
        object-fit: contain;
        /* Ensures the entire image fits within the container */
        display: block;
        /* Ensure images are block elements */
        margin: 0em;
    }
    .scroll-container figcaption {
        margin-top: 0.05em;
        /* Space between image and text */
        font-size: 1rem;
        /* Adjust font size as needed */
        color: #000000;
        /* Adjust text color as needed */
    }

}





.fab-container {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100; /* WITHOUT THIS PROPERTY, THE ANIMATIONS WILL PREVENT YOU FROM CLICKING THIS FA BUTTON */
}

.fab {
    width: 5em;
    height: 5em;
    background-image: url('../images/arrow.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.fab:hover {
    background-color: #9d9d9d;
}

@media (max-width: 1200px /* 768PX DEFAULT */) { 

    
    .flexchild1 h1 {
        font-size: 2rem !important;
    }
    .flexchild1 p {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px /* 768PX DEFAULT */) { 

    .fab-container {
        display: flex;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
    
}






.flexcontainer1{
    display: flex; /* SET TO NONE IF YOU WNT TO HIDE FOR PC */
    flex-direction: row;
    flex-wrap: wrap;
}

.flexchild1{
    /* box-shadow: 0rem 0rem 2rem #71717180; */
    margin: 0rem;
    padding: 2em;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    border: 0rem;
    border-style: solid;
    border-color: #000000;
    border-radius: 2em;
    flex: 1;
}










/* BLOG.HTML STYLES STARTS */
.blog_section {
    background-color: #ffffff;
    padding: 0em;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.blog-child{
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0rem 0rem 2rem #00000048;
    margin: 1rem;
    padding: 0rem;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    border: 0rem;
    border-style: solid;
    border-color: #000000;
    border-radius: 0%;
    flex: 1;
    justify-content: center;
    align-items: center;
}
/* BLOG.HTML STYLES ENDS */





/* ANIMATION STYLES STARTS */
.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-0px);
            transform: translateY(-0px);
  }
}




.fade-in.visible {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .button2:hover {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
/* ANIMATION STYLES ENDS */




/* BUTTON STYLE 1 STARTS */
.button1 {
    width: auto;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000000;
    background-size: cover; /* Ensures the SVG covers the entire button */
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat; /* Prevents the SVG from repeating */
    background-position: center; /* Centers the SVG in the button */
    box-shadow: 0rem 0rem 2rem #0000004d; /* Enhanced shadow on hover */
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    /* transition: opacity 0.5s; */
    transition: background-color 0.5s;
  }
  .button1:hover { /* Changes button style on hover */
    /* opacity: 0.8; */
    color: #ffffff;
    background-color: #83deff;
  }
  .button1:active { /* Changes button style on click */
    opacity: 0.8;
    /* transform: translateY(0.25rem); */
    background-color: #83deff;
  }
  /* BUTTON STYLE 1 ENDS */

  /* BUTTON STYLE 2 STARTS */
.button2 {
    width: auto;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000000;
    background-size: cover; /* Ensures the SVG covers the entire button */
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat; /* Prevents the SVG from repeating */
    background-position: center; /* Centers the SVG in the button */
    box-shadow: 0rem 0rem 2rem #0000004d; /* Enhanced shadow on hover */
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    /* transition: opacity 0.5s; */
    transition: background-color 0.5s;
  }
  .button2:hover { /* Changes button style on hover */
    /* opacity: 0.8; */
    color: #ffffff;
    background-color: #83deff;
  }
  .button2:active { /* Changes button style on click */
    opacity: 0.8;
    /* transform: translateY(0.25rem); */
    background-color: #83deff;
  }
  /* BUTTON STYLE 2 ENDS */
















/* SWIPER IMAGE SCROLLER STYLES STARTS */
.container{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
}

.swiper{
    width: 100%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev{
    color: #ffffff;
    background-color: #000000a3;
    padding: 1%;
    font-weight: bold;
}

.swiper .swiper-button-next{
    color: #ffffff;
    background-color: #000000a3;
    padding: 1%;
    font-weight: bold;
}

.swiper .swiper-pagination-bullet-active{
    background-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

.swiper .swiper-pagination-bullet{
    background-color: #000000a3;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
}

@media (max-width: 768px) {

    .container{
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }

}
/* SWIPER IMAGE SCROLLER STYLES ENDS */



/* Style the Popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2; /* Without z-index of 2, swiper elements draw in front of the popups */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #000000ac;
}

.popup a {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.popup img {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 4em;
    left: 90%;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



/* MISC. STYLES ENDS */